<div class="main">
  <div class="inner">
    <div class="form__wrapper">
      <h2 class="page-heading">プロトタイプ編集</h2>
      <%= render partial: "form", locals: { prototype: @prototype } %>
      <%= link_to "戻る", prototype_path(@prototype), class: :form__btn %>
    </div>
  </div>
</div>